[Desktop Entry]
Name=Cisco-Webdialer
Comment=Call number
Exec=cisco-webdialer %u
Icon=call-start
Terminal=false
NoDisplay=true
Type=Application
StartupNotify=false
Categories=Network;
MimeType=x-scheme-handler/tel;
